/.metadata/
/.jxbrowser.userdata/
/Power_Window_CSS/.ccsproject
/Power_Window_CSS/.cproject
/Power_Window_CSS/.project
/Power_Window_CSS/.settings/
/Power_Window_CSS/Debug/
/RemoteSystemsTempFiles/.project
/Power_Window_CSS/targetConfigs/
/Power_Window_SW/.settings/org.eclipse.core.resources.prefs
/Power_Window_SW/.settings/org.eclipse.core.resources.prefs
/Power_Window_SW/.vscode/settings.json
/Power_Window_SW/.settings/org.eclipse.core.resources.prefs
/Power_Window_SW/.launches/Power_Window_SW.launch
/Power_Window_SW/.cproject
/Power_Window_SW/.cproject
/Power_Window_SW/.settings/org.eclipse.core.resources.prefs
