/.metadata/
/.jxbrowser.userdata/
/Power_Window_CSS/.ccsproject
/Power_Window_CSS/.cproject
/Power_Window_CSS/.project
/Power_Window_CSS/.settings/
/Power_Window_CSS/Debug/
/RemoteSystemsTempFiles/.project
/Power_Window_CSS/targetConfigs/

